<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Astute Server | Collection</title>
    <style media="screen">
        body{
          margin:0;
        }

        .main_div{
          margin-left: 20%;
          margin-right: 20%;
          text-align:center;
        }

        .main_div input{
          padding:20px;
          border: none;
          border-radius: 3px;
          width: 250px;
          color: white;
          background-color:green;
        }
        .tag {
          text-align: center;
        }

    </style>
  </head>
  <body>
    <div class="main_div">
      <h1>Astute Collection Server.</h1>
      <input type="submit" name="success" value="SERVER RUNNING">

    </div>

    <div class="tag">

      &copy Copyright @ Astute server 2019
    </div>

  </body>
</html>
